.container {
  /* border: 1px solid yellow; */
  /* white-space: nowrap; */
  position: relative;
  /* cursor: ew-resize; */
}

.innerParent {
  /* border: 1px solid blue; */
  overflow: hidden;
  white-space: nowrap;

  white-space: nowrap;
  position: relative;
  cursor: ew-resize;
}

/* .ellipsis::after {
    content: "...";
    right: 0px;
    top: 1px;
    position: absolute;
    width: 12px;
    background-color: #ffffff;
} */

.ellipsis {
  right: 0px;
  top: 1px;
  position: absolute;
  width: 12px;
  background-color: #ffffff;
}

.child {
  /* border: 1px dashed ; */
  display: inline-block;
}
