.container {
  /* border: 1px solid yellow; */
  position: relative;
}

.innerParent {
  /* border: 1px solid blue; */
  overflow: hidden;
  white-space: nowrap;

  white-space: nowrap;
  position: relative;
}

.ellipsis {
  right: 0px;
  top: 1px;
  position: absolute;
  width: 12px;
  background-color: #ffffff;
}

.child {
  /* border: 1px red dashed ; */
  display: inline-block;
}
